services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      NODE_ENV: development
      DATABASE_URL: postgresql://postgres:postgres@new.cd02yeymmv4n.us-east-2.rds.amazonaws.com:5432/postgres
      PORT: "8080"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    environment:
      NODE_ENV: development
      VITE_API_BASE_URL: "http://3.150.123.81:8080"
    depends_on:
      - backend